
<main class="mdl-block mdl-color--grey-100" id="demo-post-list">
<div class="mdl-grid demo-content">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp m-t-20">
        <table class="mdl-data-table mdl-js-data-table">
            <tbody>
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">Company Name</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'company_name',company)">
                        <span ng-hide="updating.company_name">[[company.company_name]]</span>
                        <input my-enter="updateItem($event,'company_name',company)" type="text" class="form-control" placeholder="Company Name" ng-model="company.company_name" ng-show="updating.company_name">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'company_name',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">Email</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'email',company)">
                        <span ng-hide="updating.email">[[company.email]]</span>
                        <input my-enter="updateItem($event,'email',company)" type="text" class="form-control" placeholder="Email" ng-model="company.email" ng-show="updating.email">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'email',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>                

                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">Logo</td>                    

                    <td width="60%" ng-dblclick="updateItem($event,'logo',company)">

                        <img ng-hide="updating.logo" ng-src="[[company.logo]]" height="60px" width="50px">

                        <div ng-show="updating.logo">
                            <input type="text" name="logo" ng-model="company.logo" ng-hide="true">                        
                            <input type="file" ngf-select ng-model="company.file" name="file" accept="image/*" ngf-max-size="2MB">
                            <div ng-messages="Form.file.$error" ng-hide="true">
                                <div ng-message="maxSize">File too large [[picFile.size / 1000000|number:1]]MB: max 2M</div>
                            </div>
                        </div>                                            
                    </td>  

                    <td>
                        <button ng-click="updateItem($event,'logo',company)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>                

            </tbody>
        </table>
    </section>
</div>
<h4>Location1</h4>
<div class="mdl-grid demo-content">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp m-t-20">
        <table class="mdl-data-table mdl-js-data-table">
            <tbody>
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">City</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'city1',company)">
                        <span ng-hide="updating.city1">[[company.city1]]</span>
                        <input my-enter="updateItem($event,'city1',company)" type="text" class="form-control" placeholder="City" ng-model="company.city1" ng-show="updating.city1">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'city1',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">Address</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'address1',company)">
                        <span ng-hide="updating.address1">[[company.address1]]</span>
                        <input my-enter="updateItem($event,'address1',company)" type="text" class="form-control" placeholder="Address" ng-model="company.address1" ng-show="updating.address1">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'address1',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">Phone</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'phone1',company)">
                        <span ng-hide="updating.phone1">[[company.phone1]]</span>
                        <input my-enter="updateItem($event,'phone1',company)" type="text" class="form-control" placeholder="Phone" ng-model="company.phone1" ng-show="updating.phone1">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'phone1',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>                
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">Google Map</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'map1',company)">
                        <span ng-hide="updating.map1">[[company.map1]]</span>
                        <input my-enter="updateItem($event,'map1',company)" type="text" class="form-control" placeholder="Google Map Url" ng-model="company.map1" ng-show="updating.map1">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'map1',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>                                
            </tbody>
        </table>
    </section>
</div>

<h4>Location2</h4>
<div class="mdl-grid demo-content">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp m-t-20">
        <table class="mdl-data-table mdl-js-data-table">
            <tbody>
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">City</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'city2',company)">
                        <span ng-hide="updating.city2">[[company.city2]]</span>
                        <input my-enter="updateItem($event,'city2',company)" type="text" class="form-control" placeholder="City" ng-model="company.city2" ng-show="updating.city2">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'city2',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">Address</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'address2',company)">
                        <span ng-hide="updating.address2">[[company.address2]]</span>
                        <input my-enter="updateItem($event,'address2',company)" type="text" class="form-control" placeholder="Address" ng-model="company.address2" ng-show="updating.address2">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'address2',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">Phone</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'phone2',company)">
                        <span ng-hide="updating.phone2">[[company.phone2]]</span>
                        <input my-enter="updateItem($event,'phone2',company)" type="text" class="form-control" placeholder="Phone" ng-model="company.phone2" ng-show="updating.phone2">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'phone2',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>                
                <tr>
                    <td width="30%" class="mdl-data-table__cell--non-numeric">Google Map</td>                    
                    <td width="60%" ng-dblclick="updateItem($event,'map2',company)">
                        <span ng-hide="updating.map2">[[company.map2]]</span>
                        <input my-enter="updateItem($event,'map2',company)" type="text" class="form-control" placeholder="Google Map Url" ng-model="company.map2" ng-show="updating.map2">
                    </td>                                            
                    <td>
                        <button ng-click="updateItem($event,'map2',company)"  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>                                
            </tbody>
        </table>
    </section>
</div>
</main>