

<div ng-cloak >
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="Sections">
                <md-content class="md-padding">
                    <div ng-include="'/admins/src/app/page/section/section.list.tpl.html'" ></div>
                </md-content>
            </md-tab>

            <md-tab label="Page Content">
                <md-content class="md-padding">
                    <div ng-include="'/admins/src/app/page/page-content/page-content.list.tpl.html'" ></div>
                </md-content>
            </md-tab>

            <md-tab label="Meta">
                <md-content class="md-padding">
                    <div ng-include="'/admins/src/app/page/page-meta/page-meta.list.tpl.html'" ></div>
                </md-content>
            </md-tab>

            <md-tab label="Cover Image">
                <md-content class="md-padding">
                    <div ng-include="'/admins/src/app/page/page-cover-image/page-cover-image.list.tpl.html'" ></div>
                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>
</div>