.<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="65">
<md-toolbar>
<div class="md-toolbar-tools">
    <h4>[[ title ]]</h4>

    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon  aria-label="Close dialog">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div layout="column" ng-cloak>
    <md-content layout-padding>
    <form name="Form">
        
        <h3>Image Banner Caption and Button</h3>
        <br>
         <md-input-container class="md-block">
            <label>Banner Content</label>
             <input name="banner_content" ng-model="dataModel.banner_content">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Button Label</label>
             <input name="button_label" ng-model="dataModel.button_label">
        </md-input-container>
        
        <md-input-container class="md-block">
            <label>Color</label>
             <input name="button_label" ng-model="dataModel.color">
        </md-input-container>

        <md-input-container class="md-block">
            Overlay
            <md-radio-group ng-model="dataModel.overlay">
              <md-radio-button value="1" class="md-primary">True</md-radio-button>
              <md-radio-button value="0"> False </md-radio-button>
            </md-radio-group>

        </md-input-container>

        <md-input-container class="md-block">
            <label>Href Link Slug</label>
             <input name="href_link" ng-model="dataModel.href_link">
        </md-input-container>

        <h3>Content Banner Caption and Details</h3>
        <br>
        <md-input-container class="md-block">
        <label>Caption Title</label>
        <input name="content_title" ng-model="dataModel.content_title">
        </md-input-container>

       
            
        <label>Content Details</label>
        <md-input-container class="md-block">        
        <div class="container app">
          <div text-angular="text-angular" name="dataModel.body" ng-model="dataModel.page_content" style="width: 100%;"></div>
        </div>
        </md-input-container>                        


    </form>
    </md-content>
</div>

</md-dialog-content>

<form-button></form-button>

</md-dialog>


