    html, body {
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
}


/* For Nav Bar */

.navbar-header{
    display: flex;
    float: left;
}

.navbar-toggle {
    float: left;
}

.navbar-brand {
    clear: left;
    display: block;
    height: 64px;
    left: 0;
    padding: 16px 0 24px 24px;
    position: relative;
    top: 0;
    width: 144px;
}

.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 54px;
    padding: 19px 24px 15px;
    width: 66px;
}

.nav.navbar-nav {
    margin-right: 40px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.navbar-nav>li {
    float: left;
}

.nav>li {
    display: block;
}

.nav>li>a, .nav>li>span {
    color: #757575;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    padding: 16px;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
}

.io-nav .nav>li>a {
    text-transform: uppercase;
}

.navbar-nav>.is-active>a {
    border-bottom-color: #6ab344;
    color: #6ab344;
}

.navbar-nav>li>a:hover {
    border-bottom-color: #6ab344;
    color: #6ab344;
}

.nav .dropdown-menu {
    border-radius: 0;
    border-top: 1px solid #e6e6e6;
    left: 0;
    padding: 0 0 15px;
    text-align: center;
    top: 78px;
    margin: 0;
    height: 150px;
}

.dropdown--show .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    color: #757575;
    display: none;
    float: left;
    font-size: 16px;
    left: 0;
    list-style: none;
    margin: 2px 0 0;
    min-width: 260px;
    padding: 8px 0;
    position: absolute;
    text-align: left;
    top: 8px;
    z-index: 12;
}
/*.dropdown-menu li{
    float: left;
}*/
.dropdown-menu li a{
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}
.dropdown-menu li:hover a{
    color: #6ab344;
}

.nav .dropdown-menu li {
    display: inline-block;
    vertical-align: bottom;
}

.dropdown-menu>li>a, .dropdown-menu>li>span {
    clear: both;
    display: block;
    line-height: 24px;
    padding: 0px 24px;
    white-space: nowrap;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 0;
    padding-left: 24px;
    width: 164px;
}

.dropdown-menu {
    left: auto;
    right: 0;
    background: #fafafa;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.5);
}






/* Utility CSS */

.icon-fade {
    display: block;
    min-width: 16px;
}
.bg-overlay{
    position: absolute;
    height: 590px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
}
.bg-content{
    position: relative;
}

.pull-right {
    float: right;
}
.pull-left{
    float: left;
}

.navbar-toggle {
    display: none;
}
.md-block{
    display: block;
}

.list-unstyled, .list-inline, .nav {
    list-style: none;
    padding-left: 0;
}

.section-header {
    padding-bottom: 12px;
    padding-top: 45px;
}

.section-md-banner {
    padding: 30px 0 15px 0;
}
.section-footer{
    padding-top: 10px;
    padding-bottom: 30px
}

.pa-15 {
    padding: 15px;
}

.tx-right {
    text-align: right;
}
.ma-b-0{
    margin-bottom: 0px;
}
.ma-t-8{
    margin-top: 8px;
}
.scroll-off{
    overflow: hidden;
}
.mid-center{
    margin: 0px;
    padding: 0px;
}
.mid-center li{
    list-style: none;
    display: inline-block;
    padding: 22px;
}

/** Card CSS **/

.card::before, .card::after {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.card::before, .card::after {
    background-image: url(/images/transparent.gif);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card::before, .card::after {
    border-radius: 2px;
    content: ' ';
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: -1;
    will-change: box-shadow, transform;
}

.floating-action--large:before, .floating-action--small:before, .card:before {
    box-shadow: 0px 3px 8px black;
    opacity: .14;
}


.tabsdemoDynamicTabs md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicTabs md-content md-tabs md-tab-content {
    background: #f6f6f6;
}

.tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
    background: white;
}

.tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0;
}

.tabsdemoDynamicTabs md-input-container {
    padding-bottom: 0;
}

.tabsdemoDynamicTabs .remove-tab {
    margin-bottom: 40px;
}

.tabsdemoDynamicTabs .demo-tab > div > div {
    padding: 25px;
    box-sizing: border-box;
}

.tabsdemoDynamicTabs .edit-form input {
    width: 100%;
}

.tabsdemoDynamicTabs md-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tabsdemoDynamicTabs md-tab[disabled] {
    opacity: 0.5;
}

.tabsdemoDynamicTabs label {
    text-align: left;
}

.tabsdemoDynamicTabs .long > input {
    width: 264px;
}

.tabsdemoDynamicTabs .md-button.add-tab {
    transform: translateY(5px);
}

/** quotation **/
.quotation{
    color: #6ab344;
}


/* responsive menu */
.basement-menu{
    left: 0px;
    background-color: rgba(0, 0, 0, 0.701961);
    overflow: hidden;
    position: fixed;    
    z-index: 12;
    transition-property: opacity, transform;
    will-change: opacity, transform;
    opacity: 0;
    display: none;
}
.basement-menu.is-active{
    display: block;
}
.basement-menu.is-active{
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 1;
    right: 0;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}
.basement-header {
    background: #6ab344;
    padding: 60px 16px 20px;
}
.basement-nav {
    background: #fff;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.basement-nav{
    width: 75%;
}



/** Media Queries **/

@media (max-width: 600px) {
    .section-sm{
        padding: 0 15px;
    }
}

@media (min-width: 850px) {
    .navbar-nav>li .menu-button {
        display: block;
        height: 40px;
        padding-bottom: 10px;
        padding-top: 28px;
    }
    .navbar-sm{
        display: none;
    }
      .ideasoffshore-mobile-logo{
        display: none;
    }
}

@media only screen and (min-width: 1044px) {
    .section-header {
        padding-bottom: 24px;
        padding-top: 80px;
    }
    .container, .section-header,md-tabs-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 1044px;
    }


}
@media (max-width: 849px){
    .icon-fade{
        display: block;
    }
    .navbar-md{
        display: none;
    }
    .navbar-sm{
        display: block;
    }
    .ideasoffshore-big-logo{
        display: none;
    }
    .ideasoffshore-mobile-logo{
        margin-left: -66px;
    }
    .navbar-header{
        width: 100%;
        float: none;
    }
    .section-side,.section-mid{
        width: 100% !important; 
        float: none;
    }
    .io-nav{
        margin-bottom: 50px !important;
    }
    .navbar-brand{
        float: none;
        height: 35px;
        padding: 0px;
        width: auto;
        margin: 12px auto;
    }
}

/** For isotopes **/
#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 10px;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}