.io-solution .website-development {
    background: url('/images/solution/web-design-development.jpg');
}

.io-solution .mobile-application {    
    background: url('/images/solution/mobile-application.jpg');
}

.io-solution .e-commerce {
    background: #ff5722;
    background-image: url('/images/solution/ecommerce.jpg');
}

.io-solution .seo {
    background: #4caf50;    
    background-image: url('/images/solution/seo.jpg');
}

.io-solution .social-application {
    background-color: #455a64;
    background-image: url('/images/solution/facebook.jpg');
}

.io-solution .web-application {
    background-color: #009688;
    background-image: url('/images/solution/web-application.jpg');

}

.section-solution {
    height: 300px;
    float: left;
    overflow: hidden;
    position: relative;
}

.section-solution h2 {
    font-weight: bold;
    padding: 0 10px;
    font-size: 28px;
    line-height: 30px;
}
.section-solution:hover{
    color: #5D5D5D;
}

.section-side {
    width: 33%;
    ;
    float: left;
}

.section-mid {
    width: 34%;
}

.io-solution ul {
    margin: 0px;
    padding: 0px;
}

.io-solution li {
    list-style: none;
}

.io-solution a {
    text-decoration: none;
    color: white;
}

.center * {
    text-align: center;
    margin: 0 auto;
}

.section-banner {
    padding: 90px 0px 60px 0px;
}

.section-30-banner {
    padding: 30px 0px 40px 0px;
}

.section-lg-banner {
    padding: 50px 0px;
}

.landing-hero {
    min-height: 26.90909rem;
    padding-top: 6.5rem;
    padding-bottom: 3rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/** Background Color **/

.bg-creamy {
    background-color: #fafafa;
}

.bg-light-gray {
    background-color: #f5f5f5;
}

.bg-light-green {
    background-color: #6ab344;
    color: white;
}
.bg-gray{
    background-color: #E2E2E2;
}
.bg-dark-gray {
    background-color: #455a64;
    color: white;
}
.bg-yellow {
    background-color: gold;
    color: black;
}
.bg-white {
    background-color: white;
}
.bg-black{
    background-color: #455a64;
}
.bg-shaded-black{
    background-color: #415761;
}
.color-default{
    color: #474747;
    position: relative;
}
.color-green,.text-default{
    color: #5bbc2e;
    text-decoration: none;
}
.color-white{
    color: #fff;
    text-shadow: 1px 2px 3px #777;
}
.color-gray{
    color: #494949;
}


/** IO-Footer **/

.io-footer {
    padding: 0px;
}
.io-footer li{
    list-style: none;
}
.io-footer ul{
    margin: 0px;
    padding: 0px;
}
.io-footer li a{
    text-decoration: none;
    color: white;
}
.io-footer phone{
    color: white;
}

/** IO-Intro **/

.io-intro h1 {
    font-size: 40px;
}


/** Floating Button **/

.floating--button {
    position: absolute;
    right: 80px;
    margin-top: -29px;
    z-index: 10;
}


/** Images for dropdown menu **/

span.icon.hr-management-solution {
    background: url(/images/icon/hr-management.png) 50% 50% no-repeat;
}

span.icon.user-friendly-cms {
    background: url(/images/icon/cms.png) 50% 50% no-repeat;
}

span.icon.e-commerce {
    background: url(/images/icon/e-commerce.png) 50% 50% no-repeat;
}

span.icon.web-design-and-development {
    background: url(/images/icon/web-design.png) 50% 50% no-repeat;
}

span.icon.web-application {
    background: url(/images/icon/website-icon.png) 50% 50% no-repeat;
}

span.icon.mobile-application {
    background: url(/images/icon/mobile.png) 50% 50% no-repeat;
}

span.icon.search-engine-optimization {
    background: url(/images/icon/seo.png) 50% 50% no-repeat;
}
span.icon.basic-project-management-system{
    background: url(/images/icon/pms.png) 50% 50% no-repeat;
}

.dropdown-menu span.icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    margin: -25px auto 0px auto;
    display: block;
    padding-bottom: 20px;
}

.banner-image {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 500px;
    background-size: cover;
    margin: 0;
    width: 100%;
}
.content-banner{
    color: white;
    position: relative;
    z-index: 1;
    padding: 90px 0px;
}
.text-bd{
    font-weight: bold
}
.text-h1{
    display: block;
    font-size: 40px;
    font-weight: bold;
}
.text-h2{
    font-size: 24px;
    font-weight: bold;
}
.text-h3{
    display: block;
    font-size: 16px;
    line-height: 20px;
}
.io-footer .text-h3{
    font-size: 13px;
}
.text-center{
    text-align: center;
}
gmap a{
    color: #ddd;
    text-decoration: none;
}
.pa-t-20{
    padding-top: 20px;
}
.icon-text{
    font-size: 16px;
    vertical-align: super;
}
city-details{
    padding-top: 15px;
    color: #bbb;
}
.io-footer gmap a{
    color: white;
}
.io-footer city-details{
    padding-top: 10px;
    color: white;
}
phone{
    padding-bottom: 10px;
    color: #bbb;
}


/** Button custom **/

.md-custom-center{
    margin: 0 auto;
    width: 30%;
    display: block;
    background: #6ab344 !important;
    color: white !important;
}
.md-btn-center{
    margin: 0 auto;
    width: 30%;
    display: table;
}


/** IO Header **/

.io-nav{
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}
.navbar{
    width: 100%;
}
.navbar-fixed{
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: box-shadow 0.25s cubic-bezier(1, 0, 0, 1);
    transition: box-shadow 0.25s cubic-bezier(1, 0, 0, 1);
    width: 100%;
    z-index: 11;
    background-color: #fff;
}
.navbar-fixed.sticky {
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
}

/** IO Solution **/
section:after{
    content: '';
    clear: both;
    display: table;
}

/** IO Portfolio **/
.io-portfolio md-tabs-content-wrapper,.io-portfolio .md-tabs-height{
    height: 500px;
}
.io-portfolio .fx-height{
    height: 200px;
    width: 300px;
}
.io-portfolio{
    display: table;
    width: 100%;
}