.<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="40">
<md-toolbar>
<div class="md-toolbar-tools">

    <h4 ng-show="mode=='add'">Add Page</h4>
    <h4 ng-show="mode=='edit'">Edit Page</h4>

    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon  aria-label="Close dialog">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div layout="column" ng-cloak>
    <md-content layout-padding>
    <form name="Form">

        <md-input-container class="md-block">
        <label>Page Title</label>
        <input md-maxlength="200" required name="title" ng-model="dataModel.title">
        <div ng-messages="Form.title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The title has to be less than 30 characters long.</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block">
        <label>Slug</label>
        <input md-maxlength="200" required name="slug" ng-model="dataModel.slug">
        <div ng-messages="Form.slug.$error">
            <div ng-message="required">This is required.</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block">
        <label>Published</label>
        <input md-maxlength="200" required name="published_at" ng-model="dataModel.published_at">
        <div ng-messages="Form.published_at.$error">
            <div ng-message="required">This is required.</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block">
        <label>Excerpt</label>        
        <textarea rows="4" cols="50" required name="excerpt" ng-model="dataModel.excerpt">
            Content
        </textarea>
        <div ng-messages="Form.excerpt.$error">
            <div ng-message="required">This is required.</div>
        </div>
        </md-input-container>                        

        <md-input-container class="md-block">
        <label>Body</label>        
        <textarea rows="4" cols="50" required name="body" ng-model="dataModel.body">
            Content
        </textarea>
        <div ng-messages="Form.body.$error">
            <div ng-message="required">This is required.</div>
        </div>
        </md-input-container>                        

    </form>
    </md-content>
</div>
</md-dialog-content>
<md-dialog-actions layout="row">
<span flex></span>
<md-button class="md-raised md-primary" ng-click="save(dataModel)" can-save-form ng-disabled="!canSave(Form)" >Save</md-button>
<md-button class="md-raised md-warn" ng-click="cancel()" modal-cancel-buttton style="margin-right:20px;">Cancel</md-button>
</md-dialog-actions>
</md-dialog>


