<main class="mdl-block mdl-color--grey-100" id="demo-post-list">
<div class="mdl-grid demo-content">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp m-t-20">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Title</th>
                    <th>Slug</th>
                    <th>Status</th>
                    <th>Updated</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="data in dataList">
                    <td class="mdl-data-table__cell--non-numeric"> 
                    <span ng-bind-html="[[ makePadding(data.title,data.depth) ]]" padded-title></span>
                    </td>
                    <td>[[data.slug]]</td>
                    <td>
                        <md-switch ng-model="data.status" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-warn" ng-change="changeStatus(data)">
                        </md-switch>
                    </td>
                    <td>[[data.updated_at]]</td>
                    <td>
                        <button ng-click="CreateForm($event,data)"class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                        <button ng-click="remove(data.id,$index,$event)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary m-tr-1">
                        <i class="material-icons color-white">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--fixed" ng-click="CreateForm($event)">
        <i class="material-icons">add</i>
        </button>
    </section>
</div>
</main>