<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
        <img src="images/user.jpg" class="demo-avatar">
        <div class="demo-avatar-dropdown">
            <span>[[user.email]]</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_drop_down</i>
            <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <li class="mdl-menu__item">hello@example.com</li>
                <li class="mdl-menu__item">info@example.com</li>
                <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
        </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">

        <a class="mdl-navigation__link"  ui-sref="dashboard" ui-sref-active="active">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
            Dashboard
        </a>
        
        <a class="mdl-navigation__link" ui-sref="page" ui-sref-active="active">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">web</i>
                Pages
        </a>

        <a class="mdl-navigation__link" href="#post" ui-sref-active="active">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">description</i>
            Posts
        </a>

        <a class="mdl-navigation__link" ui-sref="gallery" ui-sref-active="active">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">photo</i>
            Gallery
        </a>


        <a class="mdl-navigation__link" ui-sref="section" ui-sref-active="active">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">photo</i>
            Section
        </a>
        
        <a class="mdl-navigation__link" ui-sref="portfolio" ui-sref-active="active">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">visibility</i>
                Portfolio
        </a>

        <a class="mdl-navigation__link" ui-sref="portfolio_category" ui-sref-active="active">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">visibility</i>
                Portfolio Category
        </a>

        <a class="mdl-navigation__link" ui-sref="technology" ui-sref-active="active">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">visibility</i>
                Technology
        </a>
        
        <a class="mdl-navigation__link" ui-sref="setting" ui-sref-active="active">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i>
            Settings
        </a>

    </nav>
</div>



