<div ng-controller="PageSectionListController">

    <h1 class="md-title">Select section to add</h1>
    <md-input-container>
    <label>Section</label>
    <md-select ng-model="section.id">
    <md-option ng-repeat="section in sectionList" value="[[section.id]]">
    [[ section.title ]]
    </md-option>
    </md-select>
    </md-input-container>
    <button ng-click="addSection($event, section.id)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
    <i class="material-icons">edit</i>
    </button>
    <main class="mdl-block mdl-color--grey-100" id="demo-page-list">
    <div class="mdl-grid demo-content">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp m-t-20">
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th class="mdl-data-table__cell--non-numeric">Section</th>
                        <th>Status</th>
                        <th>Order</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in dataList" draggable="true" rj-drag>
                    <td>[[ $index ]]</td>
                        <td class="mdl-data-table__cell--non-numeric">[[data.section.title]]</td>
                        <td>
                            <md-switch ng-model="data.status" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-warn" ng-change="changeStatus(data)">
                            </md-switch>
                        </td>
                        <td>[[ data.order = $index ]]</td>
                        <td>
                            <button ng-click="remove(data.id, $index, $event)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary m-tr-1">
                            <i class="material-icons color-white">delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    </main>
</div>

