.<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="60">
<md-toolbar>
<div class="md-toolbar-tools">

    <h4 ng-show="mode=='add'">Add Portfolio</h4>
    <h4 ng-show="mode=='edit'">Edit Portfolio</h4>

    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon  aria-label="Close dialog">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div layout="column" ng-cloak>
    <md-content layout-padding>
    <form name="Form">

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
            <label>Title</label>
            <input md-maxlength="200" required name="title" ng-model="dataModel.title">
            <div ng-messages="Form.title.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The title has to be less than 30 characters long.</div>
            </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label>Slug</label>
            <input md-maxlength="200" required name="slug" ng-model="dataModel.slug">
            <div ng-messages="Form.slug.$error">
                <div ng-message="required">This is required.</div>
            </div>
            </md-input-container>

        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" class="md-block">
                <label>url</label>        
                <input name="url" ng-model="dataModel.url">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Screentshot Gallery</label>
                <md-select ng-model="dataModel.gallery_id">
                <md-option ng-repeat="gallery in galleryList" value="[[gallery.id]]">
                    [[ gallery.title ]]
                </md-option>
                </md-select>
            </md-input-container>

        </div>

        <md-chips ng-model="dataModel.technologies" md-autocomplete-snap  md-transform-chip="transformChip($chip)"
                  md-require-match="autocompleteDemoRequireMatch">
          <md-autocomplete md-selected-item="selectedTechnology"
              md-search-text="searchText"
              md-items="item in querySearchTechnology(searchText)"
              md-item-text="item.title"
              placeholder="Search for a technologies">
            <span md-highlight-text="searchText">[[ item.title ]]</span>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong>[[ $chip.title ]]</strong>
            </span>
          </md-chip-template>      
        </md-chips>


        <md-chips ng-model="dataModel.categories" md-autocomplete-snap  md-transform-chip="transformChip($chip)"
                  md-require-match="autocompleteDemoRequireMatch">
          <md-autocomplete md-selected-item="selectedItem"
              md-search-text="searchText"
              md-items="item in querySearch(searchText)"
              md-item-text="item.title"
              placeholder="Search for a categories">
            <span md-highlight-text="searchText">[[ item.title ]]</span>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong>[[ $chip.title ]]</strong>
            </span>
          </md-chip-template>      
        </md-chips>



        <md-input-container class="md-block">
        <label>Description</label>
        <input name="description" ng-model="dataModel.description">
        </md-input-container>


        <label>Cover Image </label>
        <input type="text" name="logo_image" ng-model="dataModel.logo_image" ng-hide="true">
        <md-input-container class="md-block">
        <input type="file" ngf-select ng-model="dataModel.file" name="file" accept="image/*" ngf-max-size="2MB">
        <div ng-messages="Form.file.$error" ng-hide="true">
            <div ng-message="maxSize">File too large [[picFile.size / 1000000|number:1]]MB: max 2M</div>
        </div>
        </md-input-container>

    </form>
    </md-content>
</div>

</md-dialog-content>

 <form-button></form-button>

</md-dialog>




  

