<main class="mdl-block mdl-color--grey-100" id="demo-gallery-list">
<section>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-textfield mdl-js-textfield mdl-custom-wrapper">

                    <input my-enter="add(dataModel)" class="mdl-textfield__input w-80 fl-l" type="text" required ng-model="dataModel.title" placeholder="Type Name of Gallery....">
                    
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--accent pull-right ma-5" type="button" ng-click="add(dataModel)" ng-disabled="!dataModel.title">
                        <i class="material-icons">add</i>
                    </button>
                </div>
                <ul class="list">
                    <li class="list-item" ng-repeat="gallery in dataList">
                        <a  ui-sref="gallery.image({ id:[[gallery.id]] })" class="d-tb gallery-item" >
                        <i class="material-icons vt-m c-dg ho-accent">folder</i>
                        <span class="text-block">[[gallery.title]]</span></a>
                        <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary pull-right ma-5" ng-click="remove(gallery.id , $index,$event)">
                        <i class="material-icons color-white">delete</i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
            <div class="mdl-card mdl-shadow--2dp">
                <ui-view>
                </ui-view>
            </div>
        </div>
    </div>
</section>
</main>
<style>
ul.list{
    padding-left: 0px;
}
li.list-item{
    list-style: none;
    background-color: #F5F5F5;
    margin: 1px 0px;
    padding-left: 5px;
    line-height: 50px;
}
li.list-item:after{
    content: "";
    clear: both;
    display: table;
}
a{
    text-decoration: none;
}
.m-t-10{
    margin-top: 10px;
}
.d-tb{
    display: table;
    width: 80%;
    float: left;
}
.vt-m{
    vertical-align: middle;
}
.c-dg{
    color: #aaa;
}
a.gallery-item:hover .ho-accent{
    color: rgb(139,195,74);
}
.text-block{
    display: inline-block;
    padding-left: 8px;
}
.ma-5{
    margin: 5px;
}
.mdl-custom-wrapper{
    background: #eee;
    width: 100%;
    padding: 10px;
}
.w-80{
    width: 80%;
}
.fl-l{
    float: left;
}
.mdl-textfield .mdl-button{
    position: relative;
    bottom: inherit;
}
</style>