<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="40">
<md-toolbar>
<div class="md-toolbar-tools">

    <h4 ng-show="mode=='add'">Add Page</h4>
    <h4 ng-show="mode=='edit'">Edit Page</h4>

    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon  aria-label="Close dialog">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div layout="column" ng-cloak>
    <md-content layout-padding>
    <form name="Form">

        <md-input-container class="md-block">
        <label>Title</label>
        <input md-maxlength="50" required name="title" ng-model="dataModel.title">
        <div ng-messages="Form.title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The title has to be less than 50characters long.</div>
        </div>
        
        </md-input-container>
        <label>Cover Image </label>
        <input type="text" name="logo_image" ng-model="dataModel.logo_image" ng-hide="true">
        <md-input-container class="md-block">
        <input type="file" ngf-select ng-model="dataModel.file" name="file" accept="image/*" ngf-max-size="2MB">
        <div ng-messages="Form.file.$error" ng-hide="true">
            <div ng-message="maxSize">File too large [[picFile.size / 1000000|number:1]]MB: max 2M</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block">
        <label>Description</label>        
        <textarea name="textarea" ng-model="dataModel.description">
            
        </textarea>
        </md-input-container>



    </form>
    </md-content>
</div>

</md-dialog-content>
 <form-button></form-button>
</md-dialog>


