<main class="mdl-block mdl-color--grey-100" id="demo-post-list">
<div class="mdl-grid demo-content">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp m-t-20">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th>Sr. No. </th>
                    <th class="mdl-data-table__cell--non-numeric">Title</th>                    
                    <th>Image</th>
                    <th>Status</th>                                     
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-hide="dataLoaded">                            
                    <td colspan="5">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
                        </div>
                    </td>
                </tr>
                
                <tr ng-repeat="data in dataList" ng-show="dataLoaded">
                    <td>[[($index+1)+(itemsPerPage*(currentPage-1))]]</td>
                    <td class="mdl-data-table__cell--non-numeric">[[data.title]]</td>                    
                    <td> <img ng-src="/[[data.logo_image]]" height="75px" width="80px"> </td>                    
                    <td>
                        <md-switch ng-model="data.status" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-warn" ng-change="changeStatus(data)">
                        </md-switch>
                    </td>
                    <td>
                        <button ng-click="CreateForm($event,data)"class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                        <button ng-click="remove(data.id,$index,$event)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary m-tr-1">
                        <i class="material-icons color-white">delete</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div ng-show="totalItems > itemsPerPage">
                            <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="pageChanged()"></uib-pagination>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--fixed" ng-click="CreateForm($event)">
        <i class="material-icons">add</i>
        </button>
    </section>
</div>
</main>