.<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="65">
<md-toolbar>
<div class="md-toolbar-tools">
    <h4>[[ title ]]</h4>

    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon  aria-label="Close dialog">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div layout="column" ng-cloak>
    <md-content layout-padding>
    <form name="Form">

        <md-input-container class="md-block">
        <label>Content Title</label>
        <input required name="meta_key" ng-model="dataModel.meta_key">
        <div ng-messages="Form.meta_key.$error">
            <div ng-message="required">This is required.</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block">
        <label>Meta Description</label>
        <input name="meta_description" ng-model="dataModel.meta_description">

        </md-input-container>

    </form>
    </md-content>
</div>

</md-dialog-content>

<form-button></form-button>

</md-dialog>


