
<main class="mdl-block mdl-color--grey-100" id="demo-post-list" ng-controller="PageMetaController">
<md-button class="md-raised md-primary" ng-click="CreateForm($event,page)" >Update</md-button>
<div class="mdl-grid demo-content">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp m-t-20">
        
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th>Meta Key</th>
                    <th width="60%">Meta Description</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>[[ page.meta_key ]] </td>
                    <td><span ng-bind-html="[[ page.meta_description ]]"></span></td>
                </tr>
            </tbody>
        </table>

    </section>
</div>
</main>

