
<main class="mdl-block mdl-color--grey-100" id="demo-post-list" ng-controller="PageCoverImageController">
<md-button class="md-raised md-primary" ng-click="CreateForm($event,page)" >Update</md-button>
<div class="mdl-grid demo-content">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp m-t-20">
        
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th width="60%">Cover Image</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><img ng-src="[[ page.cover_image ]]" height="205px" width="300px"></td>
                </tr>
            </tbody>
        </table>

    </section>
</div>
</main>

