<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Images</h2>
</div>
<div class="mdl-card__supporting-text">
    <md-button class="md-raised" ng-click="addImage($event)">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Image
    </md-button>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="dataLoaded">
        <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="image in dataList" ng-click="showItem($event,$index)">            
            <div class="img-wrap">
                <div class="demo-card-image mdl-card mdl-shadow--2dp" style="background: url('/[[image.thumb]]') center / cover">
                    <a href="javascript:;" ng-click="remove(image.id,$index,$event)">
                    <i class="material-icons cl-white">delete</i>
                    </a>
                    <div class="mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                        <span class="demo-card-image__filename">[[image.title]]</span>

                        <md-switch ng-model="image.status" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-warn" ng-change="changeStatus(image,$event)">
                        </md-switch>                        

                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
<style>
.mdl-card__title{
    background: rgb(63,81,181);
    color: white;
}
.demo-card-image.mdl-card {
    height: 150px;
    width: 200px;
}
.demo-card-image > .mdl-card__actions {
height: 52px;
padding: 16px;
background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
color: #fff;
font-size: 14px;
font-weight: 500;
}
.cl-white{
    color: white;
}
</style>