<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="60">
<md-toolbar>
<div class="md-toolbar-tools">
    <h4 >Images</h4>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon  aria-label="Close dialog">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </md-icon>
    </md-button>
</div>
</md-toolbar>

<md-dialog-content>
<div layout="column" ng-cloak>
    <md-content layout-padding>        
        <rj-slide list="dataList" index="index"></rj-slide>            
    </md-content>
</div>

</md-dialog-content>
    <md-dialog-actions layout="row">    
    <md-button class="md-raised md-warn" ng-click="cancel()" modal-cancel-buttton style="margin-right:20px;">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>