<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="60">
<md-toolbar>
<div class="md-toolbar-tools">

    <h4 ng-show="mode=='add'">Add Page</h4>
    <h4 ng-show="mode=='edit'">Edit Page</h4>

    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon  aria-label="Close dialog">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div layout="column" ng-cloak>
    <md-content layout-padding>
    <form name="Form">

        <md-input-container class="md-block">
        <label>Page Title</label>
        <input md-maxlength="200" required name="page_title" ng-model="dataModel.page_title">
        <div ng-messages="Form.page_title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The title has to be less than 30 characters long.</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block">
        <label>Slug</label>
        <input md-maxlength="200" required name="slug" ng-model="dataModel.slug">
        <div ng-messages="Form.slug.$error">
            <div ng-message="required">This is required.</div>
        </div>
        </md-input-container>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
            <label>Page Order</label>
            <md-select ng-model="dataModel.order">
              <md-option  value="before">Before</md-option>
              <md-option  value="after">After</md-option>
              <md-option  value="childOf">Child of</md-option>
            </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label></label>
            <md-select ng-model="dataModel.orderPage">
            <md-option ng-repeat="page in pages" value="[[page.id]]">
            <span ng-bind-html="[[ makePadding(page.page_title,page.depth) ]]" padded-title></span>            
            </md-option>
            </md-select>
            </md-input-container>

        </div>

        <md-input-container class="md-block">
            <label>Template</label>
            <md-select ng-model="dataModel.template">            
                <md-option ng-repeat="template in templates" value="[[template]]">
                [[template]]
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">            
            <md-checkbox ng-model="dataModel.hidden"  ng-true-value="'1'" ng-false-value="'0'">
              Hide page from navigation            
            </md-checkbox>
        </md-input-container>                        

    </form>
    </md-content>
</div>

</md-dialog-content>

  <form-button></form-button>
  
</md-dialog>


