<main class="mdl-block mdl-color--grey-100" id="demo-page-list">
<div class="mdl-grid demo-content">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp m-t-20">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th class="mdl-data-table__cell--non-numeric">Pages</th>
                    <th>Slug</th>
                    <th>Template</th>
                    <th>Status</th>
                    <th>Updated</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="dataLoaded">                            
                    <td colspan="5">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
                        </div>
                    </td>
                </tr>            
                <tr ng-repeat="page in pages">
                    <td>[[($index+1)+(itemsPerPage*(currentPage-1))]]</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a ui-sref="page-view({ id:[[ page.id ]] })">
                            <span ng-bind-html="[[ makePadding(page.page_title,page.depth) ]]" padded-title></span>
                        </a>
                    </td>
                    <td>[[page.slug]]</td>
                    <td>[[page.template]]</td>
                    <td>
                        <md-switch ng-model="page.page_status" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'0'" class="md-warn" ng-change="changeStatus(page)">
                        </md-switch>
                    </td>
                    <td>[[page.updated_at]]</td>
                    <td>
                        <button ng-click="CreateForm($event,page)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab m-tr-1">
                        <i class="material-icons">edit</i>
                        </button>
                        <button ng-click="remove(page.id,$index,$event)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary m-tr-1">
                        <i class="material-icons color-white">delete</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div ng-show="totalItems > itemsPerPage">
                            <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="pageChanged()"></uib-pagination>
                        </div>
                    </td>
                </tr>                
            </tbody>
        </table>
    </section>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--fixed" ng-click="CreateForm($event)">
    <i class="material-icons">add</i>
    </button>
</div>
</main>