<div>
    <md-button class="md-raised" ng-click="previous($event)">Previous</md-button>
    <div ng-repeat="item in list" >
        <img ng-src="[[ item.path ]]" style="height:500px;width:450px" id="image[[$index]]" ng-show="$index==index">
    </div>
    <md-button class="md-raised" ng-click="next($event)">Next</md-button>
    <div class="info">
        <div ng-repeat="item in list" ng-show="$index==index">
            <span>Title :" [[ item.title ]]]</span>
            <span>Description: [[ item.description ]]</span>
            Dimension : [[item.dimension]]
            File Size: [[item.file_size]] kb
        </div>

    </div>
</div>