<md-dialog-actions layout="row">

<span flex></span>

<md-button class="md-raised md-primary" ng-click="save(dataModel)" can-save ng-disabled="!canSave(Form)" >
     
    <span ng-if="dataSaved">
        Save
    </span>

    <span ng-if="!dataSaved">
    	<img src="/images/714.gif">Saving
    </span>

</md-button>

<md-button class="md-raised md-warn" ng-click="cancel()" modal-cancel-buttton style="margin-right:20px;">Cancel</md-button>

</md-dialog-actions>
